<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="RecentFile" value=""/>
		<add key="LastListTaskId" value=""/>
		<add key="LastTreeTaskId" value=""/>
		<add key="MainWindowOneState" value="Normal"/>
		<add key="MainWindowOneTop" value="100"/>
		<add key="MainWindowOneLeft" value="100"/>
		<add key="MainWindowOneWidth" value="800"/>
		<add key="MainWindowOneHeight" value="600"/>
		<add key="LayoutNavigatorWidth" value="200"/>
	</appSettings>
</configuration>


