<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key="RecentFile" value="" />
		<add key="LastListTaskId" value="" />
		<add key="LastTreeTaskId" value="" />
		<add key="MainWindowState" value="Normal" />
		<add key="MainWindowTop" value="100" />
		<add key="MainWindowLeft" value="100" />
		<add key="MainWindowWidth" value="800" />
		<add key="MainWindowHeight" value="600" />
		<add key="LayoutNavigatorWidth" value="200" />
	</appSettings>
</configuration>